<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507894371327-04lbjfg2erpp5adth8d66pq42795be99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507894371327-04lbjfg2erpp5adth8d66pq42795be99</string>
	<key>API_KEY</key>
	<string>AIzaSyCxJXXUY2pzHT72VGciEzKe3e9ma4WhRm4</string>
	<key>GCM_SENDER_ID</key>
	<string>507894371327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zomorod</string>
	<key>PROJECT_ID</key>
	<string>zomorod</string>
	<key>STORAGE_BUCKET</key>
	<string>zomorod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507894371327:ios:7bda3105e871a13123cdca</string>
</dict>
</plist>